### cw 2 WYZNACZANIE SIŁ W PRĘTACH MODELU KRATOWNICY PŁASKIEJ

In [33]:
import pandas
import math

$\sum \limits _{i=1} ^{n} P_{ix} : -R_bcos(45^\circ) + R_ax  = 0 $

$\sum \limits _{i=1} ^{n} P_{iy} : R_bcos(45^\circ) + R_ay - P_1 - P_2 = 0 $

$\sum \limits _{i=1} ^{n} M_A : R_bcos(45^\circ)3a - P_13a - P_22a = 0 $

$ R_b = \frac{P_13a + P_22a} {cos(45^\circ)3a} $

$ R_{ax} = R_bcos(45^\circ) $

$ R_{ay} = -R_bcos(45^\circ) + P_1 + P_2 $

$ Err = \frac {|x_{pomiar} - x_{real}|} {x_{real}} $

In [34]:
df = pandas.read_csv("pomiary.csv")
df.head(10)

    M     P1      P2  Rb     Rax    Ray
0   5  280.0   376.0 NaN   746.0  108.0
1  15  778.0  1019.0 NaN  2050.0  348.0

nie mam pojecia ile wynosi a, bo nie ma tego na zdjeciach ????!!, ale 0.4m wydaje sie produkowac te same wartosci teoretyczne co na zdjeciach, zatem pewnie a = 0.4m

In [35]:
get_Rb = lambda p1, p2, l: (p1*3*l+p2*2*l)/(math.cos(math.radians(45))*3*l)
get_Rax = lambda rb: rb*math.cos(math.radians(45))
get_Ray = lambda rb, p1, p2: -rb*math.cos(math.radians(45)) + p1 + p2
get_relative_error = lambda x, y: (abs(x-y)/y)*100

In [36]:
a = 0.4 # [m]
g = 9.81 # [m/s^2]

### test

In [37]:
P1 = 294.3 # [N]
P2 = 343.35 # [N]

Rb = get_Rb(P1, P2, a)

Rax = get_Rax(Rb)

Ray = get_Ray(Rb, P1, P2)

print(f"Rb = {Rb}\nRax = {Rax}\nRay = {Ray}")

Rb = 739.9165358336035
Rax = 523.2000000000002
Ray = 114.44999999999987

In [38]:
df["TP1"] = [6*M*g for M in df["M"]]
df["TP2"] = [7*M*g for M in df["M"]]
df["TRb"] = [get_Rb(P1, P2, a) for P1, P2 in zip(df["TP1"], df["TP2"])]
df["TRax"] = [get_Rax(Rb) for Rb in df["TRb"]]
df["TRay"] = [get_Ray(Rb, P1, P2) for Rb, P1, P2 in zip(df["TRb"], df["TP1"], df["TP2"])]
df.head(10)

,M,P1,P2,Rb,Rax,Ray,TP1,TP2,TRb,TRax,TRay
0,5,280.0,376.0,NaN,746.0,108.0,294.3,343.35,739.916536,523.2,114.45
1,15,778.0,1019.0,NaN,2050.0,348.0,882.9,1030.05,2219.749608,1569.6,343.35

In [39]:
df["rel_error_P1"] = [get_relative_error(P1, TP1) for P1, TP1 in zip(df["P1"], df["TP1"])]
df["rel_error_P2"] = [get_relative_error(P2, TP2) for P2, TP2 in zip(df["P2"], df["TP2"])]
df["rel_error_Rb"] = [get_relative_error(Rb, TRb) for Rb, TRb in zip(df["Rb"], df["TRb"])]
df["rel_error_Rax"] = [get_relative_error(Rax, TRax) for Rax, TRax in zip(df["Rax"], df["TRax"])]
df["rel_error_Ray"] = [get_relative_error(Ray, TRay) for Ray, TRay in zip(df["Ray"], df["TRay"])]

df.head()

,M,P1,P2,Rb,Rax,Ray,TP1,TP2,TRb,TRax,TRay,rel_error_P1,rel_error_P2,rel_error_Rb,rel_error_Rax,rel_error_Ray
0,5,280.0,376.0,NaN,746.0,108.0,294.3,343.35,739.916536,523.2,114.45,4.858987,9.509247,NaN,42.584098,5.635649
1,15,778.0,1019.0,NaN,2050.0,348.0,882.9,1030.05,2219.749608,1569.6,343.35,11.881300,1.072763,NaN,30.606524,1.354303