In [224]:
import pandas
import numpy

### Tarcie

In [225]:
Mmax = 0.89 #[kg]
Mmin = 0.59 #[kg]
Mt = 0.07358*(Mmax-Mmin)
print(f"Mt = {round(Mt, 6)} Nm")

Mt = 0.02281 Nm

### Import pomariow

In [226]:
df = pandas.read_csv("red_pomiary.csv")
df["Tsr"] = [(t1+t2)/2 for t1, t2 in zip(df["t1"], df["t2"])]
df["M"] = [M-0.34 for M in df["M"]]
df.head(10)

       Eksperyment    t1    t2     M    Tsr
0  Bez Tarczy m1 1  3.12  3.09  1.11  3.105
1  Bez Tarczy m1 2  1.55  1.55  1.84  1.550
2    Tarcza A m1 1  4.31  4.35  1.11  4.330
3    Tarcza A m1 2  2.05  2.03  1.84  2.040

### Moment zredukowany

##### Dowolny moment bezwladnosci (do testu)

In [227]:
t = 3.105 #[s]
Mt = Mt #[Nm]
m1 = 1.45 #[kg]

I = (0.002053*m1-0.0017042-0.013954*Mt)*t**2
print(f"I = {round(I, 6)} kg*m^2")

I = 0.009201 kg*m^2

##### Obliczenia wszystkich momentow bezwladnosci

In [228]:
df["Ired"] = [((0.002053*M)-0.0017042-(0.013954*Mt))*(t**2) for t,M in zip(df["Tsr"], df["M"])]
df.head(10)

       Eksperyment    t1    t2     M    Tsr      Ired
0  Bez Tarczy m1 1  3.12  3.09  1.11  3.105  0.002471
1  Bez Tarczy m1 2  1.55  1.55  1.84  1.550  0.004216
2    Tarcza A m1 1  4.31  4.35  1.11  4.330  0.004806
3    Tarcza A m1 2  2.05  2.03  1.84  2.040  0.007304

#### Moment Bezwladnosci tarczy A

In [229]:
Ia1 = float(df.query("Eksperyment == 'Tarcza A m1 1'")["Ired"]) - float(df.query("Eksperyment == 'Bez Tarczy m1 1'")["Ired"])
Ia2 = float(df.query("Eksperyment == 'Tarcza A m1 2'")["Ired"]) - float(df.query("Eksperyment == 'Bez Tarczy m1 2'")["Ired"])

print(f"Ia1 = {round(Ia1, 6)} kg*m^2")
print(f"Ia2 = {round(Ia2, 6)} kg*m^2")

Ia1 = 0.002335 kg*m^2
Ia2 = 0.003087 kg*m^2

#### Teoretyczny moment bezwladosci tarczy A

In [230]:
# Zakladajac, ze tarcza A to wydrazony walec I = 0.5*pi*d(r2^4-r1^4)*h, gdzie r2>r1
# Wynik wychodzi bardzo duzy
# Ten krazek ma w sobie dziury wiec tez trzeba by wziac to pod uwage
from math import pi
I = 0.5*pi*7028*(0.15**4-0.031**4)*0.0095
print(f"I = {round(I, 6)} kg*m^2")

I = 0.052997 kg*m^2

##### Export

In [231]:
df.to_csv("wyniki.csv", index=False)

### Moment zastepczy z innego wzoru (3.11) 
### TEST - ZIGNOROWAC

In [232]:
I1 = 0.613e-4
I2 = 1.661e-3
I3 = 1.378e-3
I4 = 0.317e-4
I5 = 2.988e-3
I6 = 2.268e-3
I7 = 0.293e-4
I8 = 4.019e-4
rb = 36e-3
r3 = 30e-3
z1 = 28
z2 = 86
mt2 = 0.54
m2 = 1.45
mkr = 0.385
rkr = 30e-3
m1 = 1.45
mt1 = 0.34

I = I1+I2+I3+I4+((z1/z2)**2)*(I5+I6+I7)+(rb**2)*((z1/z2)**2)*(mt2+m2)+0.25*(r3**2)*(mkr+(I8/(rkr**2))+m1+mt1)
I

0.004555495559762034