In [10]:
import pandas
import numpy

### Tarcie

In [11]:
Mmax = 1.24 #[kg]
Mmin = 0.93 #[kg]
Mt = 0.07358*(Mmax-Mmin)
print(f"Mt = {round(Mt, 6)} Nm")

Mt = 0.02281 Nm

### Import pomariow

In [12]:
df = pandas.read_csv("red_pomiary.csv")
df["Tsr"] = [(t1+t2)/2 for t1, t2 in zip(df["t1"], df["t2"])]
df.head(10)

     Eksperyment    t1    t2     M    Tsr
0  Bez Tarczy m1  3.12  3.09  1.45  3.105
1  Bez Tarczy m2  1.55  1.55  2.18  1.550
2    Tarcza A m1  4.31  4.35  1.45  4.330
3    Tarcza A m2  2.05  2.03  2.18  2.040

### Moment zredukowany

##### Dowolny moment bezwladnosci (do testu)

In [13]:
t = 3.105 #[s]
Mt = Mt #[Nm]
m1 = 1.45 #[kg]

I = (0.002053*m1-0.0017042-0.013954*Mt)*t**2
print(f"Mt = {round(I, 6)} kg*m^2")

Mt = 0.009201 kg*m^2

##### Obliczenia wszystkich momentow bezwladnosci

In [14]:
df["Ired"] = [(0.002053*M-0.0017042-0.013954*Mt)*t**2 for t,M in zip(df["Tsr"], df["M"])]
df.head(10)

     Eksperyment    t1    t2     M    Tsr      Ired
0  Bez Tarczy m1  3.12  3.09  1.45  3.105  0.009201
1  Bez Tarczy m2  1.55  1.55  2.18  1.550  0.005893
2    Tarcza A m1  4.31  4.35  1.45  4.330  0.017893
3    Tarcza A m2  2.05  2.03  2.18  2.040  0.010209

#### Moment Bezwladnosci tarczy A

In [15]:
Ia1 = float(df.query("Eksperyment == 'Tarcza A m1'")["Ired"]) - float(df.query("Eksperyment == 'Bez Tarczy m1'")["Ired"])
Ia2 = float(df.query("Eksperyment == 'Tarcza A m2'")["Ired"]) - float(df.query("Eksperyment == 'Bez Tarczy m2'")["Ired"])

print(f"Ia1 = {round(Ia1, 6)} kg*m^2")
print(f"Ia2 = {round(Ia2, 6)} kg*m^2")

Ia1 = 0.008692 kg*m^2
Ia2 = 0.004315 kg*m^2

#### Teoretyczny moment bezwladosci tarczy A

In [16]:
# Zakladajac, ze tarcza A to wydrazony walec I = 0.5*pi*d(r2^4-r1^4)*h, gdzie r2>r1
# Wynik wychodzi bardzo duzy
# Ten krazek ma w sobie dziury wiec tez trzeba by wziac to pod uwage
from math import pi
I = 0.5*pi*7028*(0.15**4-0.031**4)*0.0095
print(f"I = {round(I, 6)} kg*m^2")

I = 0.052997 kg*m^2

##### Export

In [17]:
df.to_csv("wyniki.csv", index=False)