In [14]:
import pandas
import numpy

### Tarcie

In [15]:
Mmax = 1.2 #[kg]
Mmin = 0.8 #[kg]
Mt = 0.07358*(Mmax-Mmin)
f"{round(Mt, 7)} Nm"

'0.029432 Nm'

### Moment zredukowany

In [17]:
t = 3.105 #[s]
Mt = Mt #[Nm]
m1 = 1.45 #[kg]

I = (0.002053*m1-0.0017042-0.013954*Mt)*t**2
f"{round(I, 7)} kg*m^2"

'0.0083101 kg*m^2'

In [24]:
df = pandas.read_csv("red_pomiary.csv")
df

     Eksperyment    t1    t2     M
0  Bez Tarczy m1  3.12  3.09  1.45
1  Bez Tarczy m2  1.55  1.55  2.18
2    Tarcza A m1  4.31  4.35  1.45
3    Tarcza A m2  2.05  2.03  2.18